@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Personnel Records</h1>
    <p class="lead">This application will allow you to add, update, and remove personnel as needed.</p>
    <button class="PB"><h2>@Html.ActionLink("Personnel", "Index", "Personnel_Information")</h2></button>
    
</div>
